@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 15px;
}
header {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: aliceblue;
    background: linear-gradient(to right, rgb(0, 110, 9), rgb(0, 155, 13), rgb(0, 155, 13), rgb(0, 155, 13), rgb(0, 110, 9));
    border-radius: 10px;
    margin: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

h1{
    padding: 20px;
}

.tagline{
    font-family: josefin sans;
    text-align: center;
}
.viwsy{
    border: solid 2px rgb(238, 224, 19);
    background-color: rgb(255, 247, 136);
    border-radius: 5px;
    cursor: pointer;
}

/* subject list */
h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.toggleButton {
    margin-left: auto;
    padding:5px;
    border: solid rgb(0, 115, 255);
    border-radius: 50%;
    background-color: aliceblue;
    cursor: pointer;
}
.toggleButton:hover{
    background-color:rgb(176, 218, 255);
}

/* each subject div */
.subject {
    font-family: "Open Sans", serif;
    font-size: small;
    color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: left;
}
.subject-especo {
    background: linear-gradient(to bottom, rgb(15, 76, 129) 0%, rgb(23, 109, 185) 100%);
}
.subject-sdp{
    background: linear-gradient(to bottom, rgb(129, 32, 15) 0%, rgb(200, 68, 20) 100%);
}
.subject-coa{
    background: linear-gradient(to bottom, rgb(9, 132, 85) 0%, rgb(9, 177, 112) 100%);
}
.subject-coalab{
    background: linear-gradient(to bottom, rgb(7, 105, 68) 0%, rgb(10, 145, 93) 100%);
}
.subject-math{
    background: linear-gradient(to bottom, rgb(74, 0, 159) 0%, rgb(100, 0, 214) 100%);
}
.subject-daa{
    background: linear-gradient(to bottom, rgb(170, 86, 2) 0%, rgb(212, 108, 4) 100%);
}
.subject-pptcod{
    background: linear-gradient(to bottom, rgb(174, 61, 110) 0%, rgb(223, 78, 141) 100%);
}

/* dropdown */
.modules {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.modules.show {
    max-height: 300px; 
}

ul{
    list-style: none;
    font-size: 15px;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.viewButton {
    margin-left: auto;
    padding:5px;
    border: solid rgb(215, 79, 20);
    border-radius: 50%;
    background-color: rgb(247, 164, 158);
    cursor: pointer;
}
.viewButton:hover{
    background-color:rgb(240, 103, 91);
}





.darkerHr{
    border-color: rgba(255, 255, 255, 0.3)
}
